
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<a href="@Url.Action("SeedDatabaseWithLocations","Home")">Zapełnij bazę danych Lokacjami</a>
<a href="@Url.Action("RenderMap","Home")">Generuj mapę tras</a>
<a href="@Url.Action("GenerateTrafic","Home")">Generuj Ruchs</a>

